<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Microsoft Graph SDK Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">build</directory>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>build/Models</directory>
            <directory>build/QueryOptions</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
